<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list">
                    {{#each products}}
                    <li>
                        <h4>{{this.title}}</h4>
                        <p>{{this.description}}</p>
                        <p>Precio: ${{this.price}}</p>
                        <p>Stock: {{this.stock}}</p>
                        <p>Código: {{this.code}}</p>
                        <p>Categoría: {{this.category}}</p>
                        <a href="/products/{{this._id}}">Ver detalles</a>
                        <button class="add-to-cart" data-product-id="{{this._id}}">Agregar al carrito</button>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="pagination">
            {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página anterior</a>
            {{/if}}
            <span>Página {{page}} de {{totalPages}}</span>
            {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página siguiente</a>
            {{/if}}
        </div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.js"></script>
